* {
    font-family: Outfit, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d6e2f0;
    height: 100vh;
    width: 100vw;
}

.qr-container {
    width: 20px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 80px;
}

.qr-code-img {
    text-align: center;
}

.qr-code-img img {
width: 200px;
height: 200px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #7b879d;
}

h2 {
    color: #1f3251;
    font-weight: 700;
}